body {
	font: normal x-small verdana,arial,helvetica,sans-serif;
}

header {
	#outter {
		background-color: #cee3f8;
	
		ul {
			list-style-type: none;
			
			li {
				display: inline;
			}

		} // end ul

	} // end outter

}// end header

main {
	@include outer-container;
	@include margin(5px null null 4px);
	
	section {

		.postarea {
			@include clearfix;

			.vote {
				@include margin(null 3px null null);
				float: left;

				.arrow {
					margin: 2px 0 0;
					width: 100%;
					height: 14px;
					display: block;
					cursor: pointer;
					background-position: center center;
					background-repeat: no-repeat;
					width: 15px;
					outline: none;
				}

				.arrow-up {
					@include margin(null null null 8px);
					background-image: url(../img/sprite-reddit.png);
					background-position: -21px -796px;
					background-repeat: no-repeat;
				}

				.upvoteAmt {
					font-size: 12px;
				}

				.arrow-down {
					@include margin(null null null 8px);
					background-image: url(../img/sprite-reddit.png);
					background-position: -86px -774px;
					background-repeat: no-repeat;
				}

			} //end vote

			.thumbnail {
				@include padding(null 15px null null);
				@include position(relative, null null 5px null);
				float: left;
				width: 65px;
			}

			.titleLink {
				@include margin(null null 5px null);
				@include postStyle;
				text-decoration: none;

			}
			
			span {
				color: $lightGrey;
			}


			.submitInfo {
				@include margin(-5px null null 117px);

				p {
					color: $lightGrey;
					font-size: 10px;
				}
				
				.postTime,
				.postBy,
				.postSub {
					color: $lightBlue;
					font-size: 10px;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}

				}

			} // end submitInfo

			.list {
				@include margin(-5px null null null);
				@include padding(null null null 117px);
				list-style-type: none;

				.listItem  {
					@include padding(null 10px null null);
					display: inline;

					a {
						@include commentStyle;
						text-decoration: none;

						&:hover {
						text-decoration: underline;
						}
					}

				}

			}

		}//end postarea

	} // end section
} //end main