header, 
main {
	text-align: left;
}

header {
	@include outer-container;
	#outter {
		background-color: #cee3f8;
	
		ul {
			list-style-type: none;
			
			li {
				display: inline;
			}

		} // end ul

	} // end outter

}// end header

main {
	@include outer-container;
	@include margin(5px null null 20px);
	
	section {

		.postarea {
		
			a {
				text-decoration: none;
			}

		}//end postarea

	} // end section
} //end main